body {
    background-color: #cccccc;
    background-image: url("http://localhost/desafio-bisaweb/assets/imagens/background-moedas.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
}